{{!-- <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  <i id="icon_cart" class="bi bi-cart4"></i></button>
    {{#if isLength}}
    <span class="count">{{cartLength}}</span>
    {{else}}
    <span class="count">0</span>
    {{/if}}


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Mi carrito</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="div-products" class="modal-body">
        {{#each cart}}
        <div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="..." class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{product.title}}</h5>
        <p class="card-text">cantidad: {{quantity}}</p>
       
      </div>
    </div>
  </div>
</div>

 {{/each}}
 <p>Total de la compra: ${{total}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vaciar Carrito</button>
        <button type="button"  class="btn btn-primary">Terminar la compra</button>
      </div>
    </div>
  </div>
</div>
<div>
    

</div>
     --}}
<div class="contenedor-botones">
        <button id="cart_button"><a href="/cart/{{user.cart}}">Your cart</a></button>    
</div>
{{#if user.isAdmin}}
    <p id="user-rol">Role: ADMIN ACCOUNT</p>
    <div>
        <button id="settings_button"><a href="/settings">SETTINGS</a></button>
    </div>
{{else}}
    <p id="user-rol">Role: USER ACCOUNT</p>
{{/if}}
<h2 id="user_welcome">Welcome, {{user.first_name}}</h2>
<p id="user-email">Email: {{user.email}}</p>



<button id="signout_button"><a href="/api/sessions/signout">SIGN OUT</a></button>

<h2 id="catalogue_title">CATALOGUE</h2>

<div id="contenedor">
    {{#each productList}}
        <div id="card"  style="border-style: solid;border-color:rgb(201, 201, 201)">
            <img id="image" src="{{thumbnail}}" alt="">
            <h3 id="prod_title">{{title}}</h3>
            {{!-- <p id="prod_info">ID: {{_id}}</p> --}}
            {{!-- <p>Status: {{status}}</p> --}}
            {{!-- <p>Description: {{description}}</p> --}}
            <p id="prod_info">Price: ${{price}}</p>
            {{!-- <p>Code: {{code}}</p> --}}
            {{!-- <p>Stock: {{stock}}</p> --}}
            <p id="prod_info">Category: {{category}}</p>
            <a id="button_verMas" href="/home/{{_id}}">More details</a>
        </div>         
    {{/each}}   
</div>
<div id="pagination_buttons">
        {{#if prevPage}}
            {{#if category}}        
                <a id="pagination_button" href="/home/?limit={{limit}}&page={{prevPage}}&order={{order}}&category={{category}}">Prev Page</a>
            {{else}}
                <a id="pagination_button" href="/home/?limit={{limit}}&page={{prevPage}}&order={{order}}">Prev Page</a>
            {{/if}}
        {{else}}
            <p></p>
        {{/if}}    
        <p id="pagination_number">Page {{page}}</p>
        {{#if nextPage}}
            {{#if category}}
                <a id="pagination_button" href="/home/?limit={{limit}}&page={{nextPage}}&order={{order}}&category={{category}}">Next Page</a>
            {{else}}
                <a id="pagination_button" href="/home/?limit={{limit}}&page={{nextPage}}&order={{order}}">Next Page</a>
            {{/if}}   
        {{else}}
            <p></p>
        {{/if}}    
</div>

{{!-- <script src="/js/cartFunction.js"></script> --}}