
<!-- Botón para abrir el modal -->
<button id="openModalBtn" data-user-cart={{user.cart}}>Abrir Carrito</button>

<!-- El modal -->
<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Carrito de Compras</h2>
    <div id="products-container"></div>
    <div id="total-container"></div>
   
  </div>
</div>

<h2>PRODUCT DETAIL</h2>

<div id="info">
    <h3>{{product.title}}</h3>    
    <p>ID: {{product._id}}</p>
    <p>Status: {{product.status}}</p>
    <p>Description: {{product.description}}</p>
    <p>Price: ${{product.price}}</p>
    <p>Code: {{product.code}}</p>
    <p>Stock: {{product.stock}}</p>
    <p id="category" >Category: {{product.category}}</p>    
    <button id="button_addToCart" data-cart-id="{{user.cart}}" data-product-id="{{product._id}}">Add To Cart</button>
</div>
<br>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/addToCart.js"></script>

